/* CSS */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.travel-organizer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col {
  flex: 50%;
  margin: 10px;
  text-align: center;
  background-color: #ececec;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.image-container {
  width: 100px;
  height: 100px;
  align-self: center;
  padding: 0px 15px 0px 15px;
}

.logo {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.input {
  background-color: #ffff !important;
}

.icons {
  width: 70px;
  height: 70px;
}

.arrow-button img {
  width: 50px;
  height: 50px;
}

/* Add media queries for responsive design if needed */

  