/* TravelOrganizer.css */

.travel-organizer {
    display: flex;
    flex-wrap: wrap;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col {
    flex: 50%;
    margin: 10px;
    text-align: center;
    background-color: #ececec;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .logo {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .data-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 5px 10px 8px;
  }
  
  /* Add media queries for responsive design if needed */
  