// Only the fonts that are used in the project are loaded here and only one font-family is loaded at a time.
@font-face {
  font-family: 'Inder';
  src: url('src/assets/fonts/Inder/Inder-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// All of the Roboto fonts are loaded here.
@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
  font-family: 'Roboto';
    src: url('src/assets/fonts/Roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

// Signika Negative is a variable fonts, so we need to specify the font-weight range.
@font-face {
  font-family: 'Signika Negative';
  src: url('src/assets/fonts/Signika_Negative/SignikaNegative-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}