@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, "Roboto", "Signifika-Negative", "Inder" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  padding: 10px;
  font-size: 1.2em;
}
button {
  border: none;
  padding: 10px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

.container {
  position: relative;
}

.register {
  position: fixed;
  padding: 30px;

  top: 35%;
  left: 32%;
  display: flex;
  flex-direction: row;
}
.chat-box {
  border-width: 20px;
  margin: 40px 50px;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.member-list {
  width: 20%;
}

.chat-content {
  width: 80%;
  margin-left: 10px;
}

.chat-messages {
  height: 80%;
  border: 1px solid #000;
}

.send-message {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-message {
  width: 90%;
  border-radius: 50px;
}

ul {
  padding: 0;
  list-style-type: none;
}
.send-button {
  width: 10%;
  border-radius: 50px;
  margin-left: 5px;
  cursor: pointer;
}

.avatar {
  background-color: cornflowerblue;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}
.avatar.self {
  color: #000;
  background-color: greenyellow;
}
.message {
  padding: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 5px 10px;
}
.message-data {
  padding: 5px;
}
.message.self {
  justify-content: end;
}
