@import 'normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


.input-message {
  width: 90%;
}

ul {
  padding: 0;
  list-style-type: none;
}
.send-button {
  width: 15%;
  border-radius: 50px;
  margin-left: 5px;
  cursor: pointer;
}

.message-data {
  padding: 5px;
}
.message.self {
  justify-content: end;
}
