@import 'variables';
@import './mixins/_mixins.scss';

@each $breakpoint in map-keys($breakpoints) {
  @include respond-max($breakpoint) {
    .#{$breakpoint}\:w-1\/2 { width: 50%; }
    .#{$breakpoint}\:w-1\/3 { width: calc(100% / 3); }
    .#{$breakpoint}\:w-2\/3 { width: calc(100% / 1.5); }
    .#{$breakpoint}\:w-full { width: 100%; }

    // Generate spacing classes
    @include spacing-classes(padding, "#{$breakpoint}:p");
    @include spacing-classes(margin, "#{$breakpoint}:m");

    // Generate side spacing classes
    @include side-spacing-classes(padding, "#{$breakpoint}:p");
    @include side-spacing-classes(margin, "#{$breakpoint}:m");
  }
}
