// Fonts Families
$font-inder: 'Inder', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-signika-negative: 'Signika Negative', sans-serif;

// Font Weights
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;

// Breakpoints
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 976px;
$screen-xl: 1440px;

// Colors
$transparent: transparent;
$current: currentColor;

$palette-light-color-1: #e9f2f6;
$palette-light-color-2: #97A7E8;
$palette-light-color-3: #7AA8E1;
$palette-light-color-4: #5DD4DB;
$palette-light-color-5: #71DFC9;

$palette-dark-color-1: #9FA8CB;
$palette-dark-color-2: #9B8BC0;
$palette-dark-color-3: #5D5AA5;
$palette-dark-color-4: #B0C0D4;
$palette-dark-color-5: #81AABB;

$brand-blue-90-shades: #040c10;
$brand-blue-60-shades: #0e3140;
$brand-blue-30-shades: #195670;
$brand-blue-0-shades: #247BA0;
$brand-blue-30-light: #66a3bd;
$brand-blue-60-light: #a7cad9;
$brand-blue-90-light: #e9f2f6;

$success-90-shades: hsl(123, 75%, 5%);
$success-60-shades: hsl(123, 72%, 19%);
$success-30-shades: hsl(123, 72%, 34%);
$success-0-shades: hsl(123, 72%, 48%);
$success-30-light: hsl(123, 68%, 64%);
$success-60-light: hsl(123, 68%, 79%);
$success-90-light: hsl(123, 69%, 95%);

$warning-90-shades: #191004;
$warning-60-shades: #66400e;
$warning-30-shades: #b36f19;
$warning-0-shades: #ff9f24;
$warning-30-light: #ffbc66;
$warning-60-light: #ffd9a7;
$warning-90-light: #fff5e9;

$danger-90-shades: hsl(0, 75%, 5%);
$danger-60-shades: hsl(0, 72%, 19%);
$danger-30-shades: hsl(0, 72%, 34%);
$danger-0-shades: hsl(0, 72%, 48%);
$danger-30-light: hsl(0, 68%, 64%);
$danger-60-light: hsl(0, 68%, 79%);
$danger-90-light: hsl(0, 69%, 95%);

$neutral-90-shades: hsl(0, 0%, 5%);
$neutral-60-shades: hsl(0, 0%, 19%);
$neutral-30-shades: hsl(0, 0%, 34%);
$neutral-0-shades: hsl(0, 0%, 48%);
$neutral-30-light: hsl(0, 0%, 64%);
$neutral-60-light: hsl(0, 0%, 79%);
$neutral-90-light: hsl(0, 0%, 95%);

// breakpoints
$breakpoints: (
  'sm': 640px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  '2xl': 1536px
);

// gutter widths for different breakpoints
$gutter-width: (
  'sm': 16px,
  'md': 24px,
  'lg': 32px,
  'xl': 40px,
  '2xl': 48px,
  '3xl': 56px,
  '4xl': 64px,
  '5xl': 72px,
  '6xl': 80px,
  '7xl': 88px,
  '8xl': 96px,
  '9xl': 104px,
  '10xl': 112px,
);

// grid columns for different breakpoints
$grid-columns: (
        'sm': 2,
        'md': 3,
        'lg': 4,
        'xl': 6,
        '2xl': 8,
        '3xl': 12
);

// spacing scale
$spacing-scale: (
  0: 0px,
  'px': 1px,
  0-5: 0.125rem,
  1: 0.25rem,
  1-5: 0.375rem,
  2: 0.5rem,
  2-5: 0.625rem,
  3: 0.75rem,
  3-5: 0.875rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
  11: 2.75rem,
  12: 3rem,
  14: 3.5rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  28: 7rem,
  32: 8rem,
  36: 9rem,
  40: 10rem,
  44: 11rem,
  48: 12rem,
  52: 13rem,
  56: 14rem,
  60: 15rem,
  64: 16rem,
  72: 18rem,
  80: 20rem,
  96: 24rem
);

$font-size-scale: (
  'xs': 0.75rem,   // Extra small: 12px
  'sm': 0.875rem,  // Small: 14px
  'base': 1rem,    // Base: 16px
  'lg': 1.125rem,  // Large: 18px
  'xl': 1.25rem,   // Extra Large: 20px
  '2xl': 1.5rem,   // 2 Extra Large: 24px
  '3xl': 1.875rem, // 3 Extra Large: 30px
  '4xl': 2.25rem,  // 4 Extra Large: 36px
  '5xl': 3rem,     // 5 Extra Large: 48px
  '6xl': 4rem,     // 6 Extra Large: 64px
  '7xl': 5rem,     // 7 Extra Large: 80px
  '8xl': 6rem,     // 8 Extra Large: 96px
  '9xl': 7rem,     // 9 Extra Large: 112px
  '10xl': 8rem     // 10 Extra Large: 128px
);

$line-height-scale: (
  'xs': 1.5rem,
  'sm': 1.5rem,
  'base': 1.5rem,
  'lg': 1.5rem,
  'xl': 1.75rem,
  '2xl': 2rem,
  '3xl': 2.25rem,
  '4xl': 2.5rem,
  '5xl': 3.5rem,
  '6xl': 4.5rem,
  '7xl': 5rem,
  '8xl': 6rem,
  '9xl': 7rem,
  '10xl': 8rem
);