.containerCheckList{
  height: auto;
  width: auto;
  margin-top: 20px;
  background-color: $brand-blue-30-shades;
  color: $brand-blue-60-light;
  border-radius: 15px;
  padding: 10px;
  z-index: 10;

}