.searchButton{
  background-color: #71DFC9;
  color: white;
  font-weight: bolder;
  width: 80%;
  margin-top: 10px;
  transition: 1s;
  height: 45px;
}
.searchButton:hover{
  width: 85%;
  height: 55px ;
}