.submitCity{
    background-color: #71DFC9;
    color: $brand-blue-30-shades;
    font-weight: bolder;
    margin-top: 10px;
    transition: 1s;
    height: 45px;
    width: 60px;
    border: 3px solid #71DFC9 ;
  }
  .submitCity:hover{
width: 80px;
  }